
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
 .login-input {
  padding-top: 20px;
 } 
 .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-button {
  width: 100%;
  background-color: rgb(70, 70, 206);
  color: white;
  margin-top: 10px;
}