.example-full-width {
    display: flex;
}
.mat-radio-button {
    padding: 10px;
}
.row {
    font-size: 20px;
    padding: 30px;
    justify-content: center;
    text-align: center;
}
.submit-register {
    justify-content: center;
    text-align: center;
}